<div class="container">
        <table>
                <tr>
                        <td class="borderRight">Single-line edition</td>
                        <td>Multi-line edition</td>
                </tr>
                <tr class="borderTop">
                        <td contenteditable
                                class="borderRight"
                                [(ngModel)]="myValue"
                                name="test1"
                                required="true"
                                minlength="3"
                                maxlength="10"
                                #test1="ngModel"
                                [tooltip]="errorMessage"
                                [isOpen]="(test1.errors && (test1.dirty || test1.touched))"
                                triggers=""
                                placement="bottom"
                                container="body"
                        ></td>

                        <td contenteditable
                                [(ngModel)]="myMultilinevalue"
                                name="test2"
                                multiline="true"
                                required="true"
                                minlength="5"
                                maxlength="20"
                                #test2="ngModel"
                                [tooltip]="errorMessage2"
                                [isOpen]="(test2.errors && (test2.dirty || test2.touched))"
                                triggers=""
                                placement="bottom"
                                container="body">
                        </td>
                </tr>
        </table>
        
        <ng-template #errorMessage>
                <div class="alert alert-danger">
                        <span [hidden]="!test1.errors.required">Simple value is required</span>
                        <span [hidden]="!test1.errors.minlength">Simple value need at least 3 characters</span>
                        <span [hidden]="!test1.errors.maxlength">Simple value need maximum of 10 characters</span>
                </div>
        </ng-template>

        <ng-template #errorMessage2>
                <div class="alert alert-danger">
                        <span [hidden]="!test2.errors.required">Multiline value is required</span>
                        <span [hidden]="!test2.errors.minlength">Multiline value need at least 5 characters</span>
                        <span [hidden]="!test2.errors.maxlength">Multiline value need maximum of 20 characters</span>
                </div>
        </ng-template>
</div>